[submodule "src/libs/toml11"]
	path = src/libs/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "src/libs/spdlog"]
	path = src/libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/lua/lua.git
